.grid6040-container {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 0px 0px 50px 0px;
  width: 100%;
  margin-top: 20px;
}

.txt6040 {
  grid-column: 1 / 2;
  display: flex;
  align-items: top;
  padding-right: 30px;
}

.img6040 {
  grid-column: 2 / 2;
  display: flex;
  justify-content: center;
  align-items: start;
  max-width: 100%;
  max-height: 100%;
  padding-right: 20px;
}


.img6040 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 25px;
}


@media (max-width: 900px) {
  .img6040 {
    padding-right: 10px;
  }
  .img6040 img {
    padding: 15px;
  }

}



@media (max-width: 700px) {
  .grid6040-container {
    grid-template-columns: 1fr;
  }

  .txt6040 {
    order: 1;
    padding: 0px;
  }

  .img6040 {
    order: 2;
    padding: 0px;
  }

  .img6040 img {
    width: 60%;
    height: auto;
    padding: 0px;
  }
}