.botao {
    border: 0;
    padding: 10px;
    width: 100px;
    height: 50px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
    float: right;
}

.image {
    width: 200px;
    height: 200px;
}